body {
	font-family: 'Lato', sans-serif;
	background-color: #F4F4F4;
}

.navbar {
	background-color: #2c3e50;
	border:none;
}

.navbar .navbar-nav {
	margin-left: 40px;
}

.navbar .navbar-nav li a {
	color: #ffffff;
}

.navbar .navbar-nav li a:hover {
	text-decoration: underline;
	color: grey;
}

.navbar .navbar-brand {
	color: #ffffff;
}

/*Navbar end*/

h1 {
	/*margin:0 auto;*/
	/*width: 100%;*/
	margin-top: 150px;
	/*margin-left: 150px;*/
	font-weight: 900;
}

/*hr { background-color: red; height: 1px; border: 0; }*/

hr {
height: 1px;
color: #123455;
background-color: #123455;
border: none;
/*margin: 20px;*/
}

h3 {
	font-weight: 700;
}

.description {
	/*margin-left: 380px;*/
}

#syllabus {
	font-weight: 900;
	margin-left: 90px;
}

h4 {
	font-weight: 700;
}

.wrap {
	background-color: #FBD334;
}

.syllabus-hr {
	background-color: #ED7821;
	width: 50%;
	margin-right: 900px;
}

h4, .syllabus-hr {
	margin-left: 100px;
}

.syllabus-section {
	/*float: left;*/
}

.mission {
	/*position: relative;*/
	/*top: 50px;*/
}

.mission ul li {
	font-size: 1.4em;
	line-height: 1.5em;
}

.syllabus-header-hr {
	/*width: 100%;*/
}
