body {
	font-family: 'Lato', sans-serif;
}


.navbar {
	background-color: #2c3e50;
	border:none;
}

.navbar .navbar-nav {
	margin-left: 40px;
}

.navbar .navbar-nav li a {
	color: #ffffff;
}

.navbar .navbar-nav li a:hover {
	text-decoration: underline;
	color: grey;
}

.navbar .navbar-brand {
	color: #ffffff;
}


/*Navbar end*/

/* img {
	width: 100%;
} */

.banner {
	background-image: url("images/banner.PNG");
	background-position: center;
	background-size:cover;
	background-repeat:no-repeat;
	width: 100%;
	height: 410px;
	margin-top: 15px;
}

.banner h1 {
	color: #ffffff;
	font-weight: 900;
	/*letter-spacing: -1px;*/
	line-height: 60px;
	padding: 100px 0 0 50px;
	font-size: 60px;
}
/*body{
	background-color: yellow;
}*/


/*banner end*/

#first-heading {
	font-size: 66px;
	font-weight: bolder;
	text-align: center;
	line-height: 100%;
    letter-spacing: -1px;
}

.yellow {
	color: #ffc000;
}

.first-block p {
	text-align: center;
	width: 74%;
	margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 32px;
}


.first-block .section-one h3 {
	font-size: 28px;
	font-weight: 900;
}

.section-one #circle {
	width: 200px;
	height: 200px;
	float: left;
	border-radius: 50%;
	background-image: url(images/me.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;

}
.first-block .section-one aside {
	/*background-color: yellow;*/
	font-size: 20px;
    position: relative;
    left: 20px;
    z-index: -1;
}

.section-one ol li {
	list-style: none;
	background-color: #FFC000;
	margin: 10px;
	font-size: 20px;
	padding: 5px;
}

.section-one ol #a {
	width: 100%;
}

.section-one ol #b {
	width: 60%;
}

.section-one ol #c {
	width: 75%;
}

.section-one ol #d {
	width: 35%;
}

.section-one ol #e {
	width: 90%;
}

.section-one #my-skills {
	position: relative;
	left: 50px;
}

.section-one #third-para {
	position: relative;
	right: 20px;
	text-align:left; line-height:24px; font-size:20px;
}

.section-one #third-para a {
	text-decoration: underline;
}
/*first-block*/

.second-block h1 {
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	line-height: 100%;
    letter-spacing: -1px;
}

.second-block h2 {
	line-height: 100%;
    letter-spacing: -1px;
    text-align:center; font-weight:700; padding:20px;
    padding-bottom: 10px;
}

.second-block .creative-tim {
	/*position: relative;
	left: 580px;*/
	/*margin: 0 0 0 580px;*/
}

.second-block .about {
	text-align: center;
}

.second-block .first-para {
	text-align: center;
	font-size: 20px;
	/*width: 80%;*/
	margin-right: auto;
    margin-left: auto;
	line-height: 32px;
	font-weight: bold;
}

.second-block .row {
	padding: 20px;
}

.second-block .general {
	text-align: center;
}

.second-block .general h3 {
	font-weight: 900;
}

.second-block .general p {
	font-size: 15px;
}
/*second-block*/

.wrap-third {
	background-color: #ECECEC;
}

.third-block h1 {
    font-size: 40px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 900;
    padding: 45px 45px 25px 45px;
}

.third-block .first-para {
	font-size: 20px;
	text-align: center;
	width: 85%;
	margin:0 auto;
}

.third-block .stack {
	padding: 20px;
}

.third-block #stack-head {
	font-size: 40px;
	font-weight: 900;
	/*text-align: center;*/
	line-height: 100%;
    letter-spacing: -1px;
    color: rgba(0, 0, 0, 0.8);
}

.third-block .about {
	text-align: center;
}

.third-block #stack-head-img {
	/*position: relative;*/
	/*left: 570px;*/
	/*bottom: 30px;*/
}

.third-block .caption p {
	text-align: center;
	font-weight: 900;
	/*background-color: yellow;*/
	font-size: 1.9em;
}

.button {
	text-align: center;
	margin-bottom: 25px;
}



/*footer*/

.footer {
	background-color: #222222;
	color: #ffffff;
	/*margin: 0;*/

}

.footer p {
	margin: 0;
	font-size: 15px;
	font-weight: 700;
	padding: 20px;
	margin-left: 25px;
}
